.device-card {
    width: 80%;
    max-width: 300px;
    padding: 16px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .newDevice {
    bottom: 20px;
    right: 20px;
    z-index: 1;
    position: fixed;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }