<button mat-fab color="primary" class="newDevice" *ngIf="auth.loggedIn()" (click)="add()">
    <mat-icon>add</mat-icon>
</button>

<mat-card *ngFor="let device of list.devices" class="device-card">
    <mat-card-header>
        <mat-card-title>
            {{device.tag}}
        </mat-card-title>
        <mat-icon *ngIf="device.unit == 't'">thermostat</mat-icon>
        <mat-icon *ngIf="device.unit == 'h'">bloodtype</mat-icon>
    </mat-card-header>
    <mat-card-content class="container">
        <button mat-raised-button (click)="detail(device.tag)">Detalles</button>
        <button mat-raised-button (click)="readings(device.tag)">Lecturas</button>
        <button mat-raised-button (click)="calibrate(device.tag)" color="primary">Calibrar</button>
    </mat-card-content>
</mat-card>