<div class="container">
    <form #deviceForm="ngForm" class="myform">
        <h1>Login</h1>
        <mat-form-field appearance="fill">
            <mat-label>Usuario</mat-label>
            <input name="name" matInput [(ngModel)]="name">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" name="password" matInput [(ngModel)]="password">
        </mat-form-field>
        <button mat-raised-button color="warn" (click)="login()">Login</button>
    </form>
</div>