<div class="container">
    <form #deviceForm="ngForm" class="myform">
        <h1>Nombre: {{user.name}}</h1>
        <mat-form-field appearance="fill">
            <mat-label>Permisos</mat-label>
            <input name="rank" matInput [(ngModel)]="user.rank">
        </mat-form-field>  
        <button mat-raised-button (click)="back()">Volver</button>
        <button mat-raised-button (click)="newRank()" class="erase">Actualizar Permisos</button>
        <button mat-raised-button color="warn" (click)="deleteUser()" class="erase">Borrar</button>
        <div *ngIf="rankError" class="error">Permisos inválidos</div>
    </form>
</div>