.myform {
    width: 80%;
    max-width: 300px;
    padding: 16px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.erase {
    margin-top: 20px;
}

.error {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}